/* You can add global styles to this file, and also import other style files */

@import url("../node_modules/@angular/material/prebuilt-themes/indigo-pink.css");
@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/themes/nova-light/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");
@import url("../node_modules/primeflex/primeflex.css");
@import url("../node_modules/quill/dist/quill.core.css");
@import url("../node_modules/quill/dist/quill.snow.css");

body {
    font-family: 'Roboto', sans-serif;
}

canvas[resize] {
    width  : 100%;
    height : 100%;
}