<p-tabView>
    <p-tabPanel header="Plan X/Y">
        <ng-template pTemplate="content">
            <div class="p-grid">
                <div class="p-col-1">
                    <p-button label="Refresh" (click)="refresh($event)"></p-button>
                </div>
                <div class="p-col-11">
                    <app-paperjs (flag)="selectXY($event)" (ready)="drawXY($event)"></app-paperjs>
                </div>
            </div>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Plan Z">
        <ng-template pTemplate="content">
            <div class="p-grid">
                <div class="p-col-1">
                    <p-button label="Refresh" (click)="refresh($event)"></p-button>
                </div>
                <div class="p-col-11">
                    <app-paperjs (flag)="selectZ($event)" (ready)="drawZ($event)"></app-paperjs>
                </div>
            </div>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Debug">
        <pre>
{{status | json}}
        </pre>
    </p-tabPanel>
    <p-tabPanel header="Control">
        <div align="center" class="p-grid">
            <div class="p-col-2">
                <p-button label="Ok" (click)="setOk($event)"></p-button>
            </div>
            <div class="p-col-2">
                <p-button label="Unlock" (click)="setUnlock($event)"></p-button>
            </div>
            <div class="p-col-2">
                <p-button label="Reset" (click)="setReset($event)"></p-button>
            </div>
            <div class="p-col-2">
                <p-button label="Pause" (click)="setPause($event)"></p-button>
            </div>
            <div class="p-col-2">
                <p-button label="Resume" (click)="setResume($event)"></p-button>
            </div>
            <div class="p-col-2">
                <p-button label="Status" (click)="setStatus($event)"></p-button>
            </div>
            <div class="p-col-2">
            </div>
        </div>
        <div align="center" class="p-grid">
            <div class="p-col-2">
                <p-button label="SetX" (click)="setX($event)"></p-button>
            </div>
            <div class="p-col-2">
                <p-button label="SetY" (click)="setY($event)"></p-button>
            </div>
            <div class="p-col-2">
                <p-button label="SetZ" (click)="setZ($event)"></p-button>
            </div>
            <div class="p-col-2">
                <p-button label="SetAll" (click)="setAll($event)"></p-button>
            </div>
            <div class="p-col-2">
                <p-button label="SetHome" (click)="setDefinedHome($event)"></p-button>
            </div>
            <div class="p-col-2">
                <p-button label="Home" (click)="setHome($event)"></p-button>
            </div>
            <div class="p-col-2">
            </div>
            <div class="p-col-2">
            </div>
        </div>
        <div align="center" class="p-grid">
            <div class="p-col-2"></div>
            <div class="p-col-2"></div>
            <div class="p-col-2"></div>
            <div class="p-col-2"></div>
            <div class="p-col-2"></div>
            <div class="p-col-2"></div>
        </div>
        <div align="center" class="p-grid">
            <div class="p-col-2"></div>
            <div class="p-col-2">
                <p-button label="Back" (click)="setBack($event)"></p-button>
            </div>
            <div class="p-col-2"></div>
            <div class="p-col-2"></div>
            <div class="p-col-2">
                <p-button label="Up" (click)="setUp($event)"></p-button>
            </div>
            <div class="p-col-2">
            </div>
            <div class="p-col-2">
            </div>
        </div>
        <div align="center" class="p-grid">
            <div class="p-col-2">
                <p-button label="Left" (click)="setLeft($event)"></p-button>
            </div>
            <div class="p-col-2">
                <p-button label="Step" (click)="setStep($event)"></p-button>
            </div>
            <div class="p-col-2">
                <p-button label="Right" (click)="setRight($event)"></p-button>
            </div>
            <div class="p-col-2"></div>
            <div class="p-col-2"></div>
            <div class="p-col-2">
            </div>
            <div class="p-col-2">
            </div>
        </div>
        <div align="center" class="p-grid">
            <div class="p-col-2"></div>
            <div class="p-col-2">
                <p-button label="Front" (click)="setFront($event)"></p-button>
            </div>
            <div class="p-col-2"></div>
            <div class="p-col-2"></div>
            <div class="p-col-2">
                <p-button label="Down" (click)="setDown($event)"></p-button>
            </div>
            <div class="p-col-2">
            </div>
            <div class="p-col-2">
            </div>
        </div>
    </p-tabPanel>
</p-tabView>
<p-toast></p-toast>